[Unit]
Description=go2rtc Stream Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/dive/go2rtc
ExecStart=/home/dive/go2rtc/go2rtc -config /home/dive/go2rtc/go2rtc.yaml
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target